.auth-container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  width: 100%;
  max-width: 380px;
  background: white;
  padding: 2.5rem;
  border-radius: 20px;
  box-shadow: var(--shadow-md);
  text-align: center;
}

.auth-card h2 {
  margin-bottom: 0.5rem;
}

.subtitle {
  color: #666;
  margin-bottom: 2rem;
}

.auth-card input {
  width: 100%;
  padding: 0.8rem 1rem;
  margin-bottom: 1rem;
  border-radius: 12px;
  border: 1px solid #ddd;
}

.auth-card button {
  width: 100%;
  padding: 0.9rem;
  border-radius: 50px;
  background-color: var(--color-primary);
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.switch {
  margin-top: 1.5rem;
  font-size: 0.9rem;
}

.switch span {
  color: var(--color-primary);
  font-weight: 600;
  cursor: pointer;
}


/* error handling*/
.error {
  background: #ffe5e5;
  color: #b00020;
  padding: 0.6rem;
  border-radius: 10px;
  font-size: 0.85rem;
  margin-bottom: 1rem;
}
